<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   	<bean id="calculadora" class="example.com.Calculadora">
   	</bean>
   	
   	<bean id="gestorFacturas" class="example.com.GestorFacturas">
   		<constructor-arg name="calculadora" ref="calculadora" />
   		<constructor-arg name="nombre" value="Factuartor 3000" />
   	</bean>
   	
   
   </beans>